@model IEnumerable<CharceApp.Models.Order>

@{
    ViewBag.Title = "BulkOrder";
}



<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <i class=" left arrow icon"></i> @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })
                <a href="@Request.UrlReferrer" style="color:white">
                   
                </a>

            </div>


        </div>

    </div>
</div>






<h4 style="font-weight:300">Order No (#@ViewBag.OrderID) - @ViewBag.CustomerName</h4>

<table class="table">
    <thead style="background-color:lightgray">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        string collect = item.DeliverOrCollect;
        string pay = item.PaymentMethod;
        string addr = item.SendTo;

        ViewBag.Pay = pay;
        ViewBag.Collect = collect;
        ViewBag.Address = addr;
        

        <tbody>
            <tr>
                <td>@item.Product</td>
                <td>@item.Qauntity</td>
                <td>@item.Total</td>
            </tr>

        </tbody>

      

        

    }

    <thead style="background-color:lightgray">
        <tr>
            <th>Payment Method</th>
            <th>Deliver/Collect</th>
            

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@ViewBag.Pay</td>
            <td>@ViewBag.Collect</td>

        </tr>

    </tbody>


    <thead>
        <tr>
            <th>Total</th>
            <th></th>
            <th>VAT</th>

        </tr>
    </thead>


    <tbody>
        <tr>
            
            <td>R @ViewBag.Total</td>
            <td></td>
            <td>15%</td>

        </tr>

    </tbody>

</table>
<br />
@{
    using (CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
    {

        CharceApp.Models.ShippingAddress adrr = db.shippinaddresses.ToList()
            .Where(x => x.RecipientName == ViewBag.Address && x.PersonalAccID == ViewBag.PersonalID)
            .FirstOrDefault();

        if (ViewBag.Collect == "Deliver")
        {
            <h4 style="font-weight:300">Shipping Information</h4>
            <h6><strong>Name: </strong>@adrr.RecipientName</h6>
            <h6><strong>Number: </strong>@adrr.RecipientNumber</h6>
            <h6>@adrr.StreetAddress</h6>
            <h6>@adrr.Building</h6>
            <h6>@adrr.Suburb , @adrr.City @adrr.PostalCode</h6>
            <h6>@adrr.Province</h6>
        }
    }


}

<div style="margin-bottom:100px">

    @{

        if (ViewBag.ImBusiness)
        {
            if (ViewBag.Status == "Delivered")
            {

                <div class="three ui buttons">
                    <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button disabled">Pending</a>
                    <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button disabled">Accept</a>
                    <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button disabled">Decline</a>
                </div>

                <div class="three ui buttons">
                    <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button disabled">Seen</a>
                    <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button disabled">Shipped</a>
                    <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui green button disabled">Delivered</a>
                </div>

                <div class="two ui buttons">

                    <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button disabled">Ready To Pick Up</a>
                    <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

                </div>

            }
            else
            {

                if (ViewBag.Status == "Pending")
                {
                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui green button">Pending</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
                    </div>

                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
                    </div>

                    <div class="two ui buttons">

                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

                    </div>

                }
                else if (ViewBag.Status == "Accepted")
                {
                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui green button">Accept</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
                    </div>

                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
                    </div>


                    <div class="two ui buttons">

                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

                    </div>
                }
                else if (ViewBag.Status == "Declined")
                {
                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui green button">Decline</a>
                    </div>

                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
                    </div>


                    <div class="two ui buttons">

                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

                    </div>
                }
                else if (ViewBag.Status == "Seen")
                {

                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
                    </div>

                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui green button">Seen</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
                    </div>


                    <div class="two ui buttons">

                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

                    </div>

                }
                else if (ViewBag.Status == "Shipped")
                {
                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
                    </div>

                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui green button">Shipped</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
                    </div>


                    <div class="two ui buttons">

                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

                    </div>
                }
                else if (ViewBag.Status == "Delivered")
                {
                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
                    </div>

                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui green button">Delivered</a>
                    </div>

                    <div class="two ui buttons">

                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button">Ready To Pick Up</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

                    </div>

                }
                else if (ViewBag.Status == "Ready to Pickup")
                {
                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button">Pending</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button">Accept</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button">Decline</a>
                    </div>

                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button">Seen</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button">Shipped</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button">Delivered</a>
                    </div>

                    <div class="two ui buttons">

                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui green button">Ready To Pick Up</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui button">Order Returned</a>

                    </div>

                }
                else if (ViewBag.Status == "Returned")
                {
                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Pending" class="ui button disabled">Pending</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Accepted" class="ui button disabled">Accept</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Declined" class="ui button disabled">Decline</a>
                    </div>

                    <div class="three ui buttons">
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Seen" class="ui button disabled">Seen</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Shipped" class="ui button disabled">Shipped</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Delivered" class="ui button disabled">Delivered</a>
                    </div>

                    <div class="two ui buttons">

                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Ready to Pickup" class="ui button disabled">Ready To Pick Up</a>
                        <a href="/logic/ChangeOrderStatus?listorderid=@ViewBag.OrderID&newstatus=Returned" class="ui green button disabled">Order Returned</a>

                    </div>

                }



            }




        }



    }


</div>




@{
    if (Request.Browser.IsMobileDevice)
    {

        <div class="bottom_menu">

            <div class="ui equal width center aligned padded grid">

                <div class="row" style="color:white;font-weight:100 !important;font-size:1.3rem">
                    <div class="column">
                        <a href="/home/index" style="color:white"><span class="glyphicon glyphicon-comment"></span></a>

                    </div>
                    <div class="column">
                        <a href="/pages/shops" style="color:white"><span class="glyphicon glyphicon-shopping-cart"></span></a>

                    </div>
                    <div class="column deals-button">
                        <a href="/pages/deals" style="color:white"><span class="glyphicon glyphicon-tags"></span></a>

                    </div>
                </div>


            </div>

        </div>

    }
}



