@model IEnumerable<CharceApp.Models.Cart>

@{
    ViewBag.Title = "CheckoutView";
}




<div class="ui comments" style="margin-top:30px">
 

    @foreach (var item in Model)
    {
        string business;
        using(CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
        {
            CharceApp.Models.BusinessAccount b = db.businessaccounts.ToList().Where(x => x.ID == item.BusinessID).FirstOrDefault();
            business = b.BusinessName;
        }

        <div class="comment">
            <a class="avatar">
                <img src="/ProfilePicFile/Product_Pic/@item.BusinessID">
            </a>
            <div class="content">
                <a class="author">@item.Name (@item.Qty)</a>
                <div class="text">
                    R @item.Price | <a href="#">@business</a>
                </div>
                <div class="actions">
                    @*<a class="reply">Reply</a>
                    <a class="save">Save</a>
                    <a class="hide">Hide</a>*@
                    <a href="/Logic/IncreaseQty?cartId=@item.ID">
                        <i class="plus icon"></i>
                        Increase
                    </a>
                    <a href="/Logic/DecreaseQty?cartId=@item.ID">
                        <i class="minus icon"></i>
                        Decrease
                    </a>
                    <a href="/Logic/ToggleCart?productId=@item.ProfilePicProductID&businessId=@item.BusinessID">
                        <i class="trash icon"></i>
                        Delete
                    </a>
                </div>
            </div>
        </div>
        <br />


    }
    </div>


<div class="bottom_menu">

    <div class="ui equal width center aligned padded grid">
        <div class="row" style="color:white;font-weight:100 !important;font-size:1.3rem">

            <div class="column deals-button">
                <p>
                    <a href="#" style="text-decoration:none;color:white">Checkout(R @ViewBag.Balance)</a>
                </p>


            </div>
        </div>


    </div>

</div>

