@model IEnumerable<CharceApp.Models.Message>

@{
    ViewBag.Title = "Message";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="/home/index" style="color:white">
                    <h5>
                        <i class=" left arrow icon"></i> @ViewBag.RecName

                    </h5>
                </a>
                
            </div>
            
            
        </div>
        
    </div>
</div>




<div style="margin-bottom:150px">



@foreach (var item in Model) {


    if (item.SenderID == ViewBag.MyId && item.isOrder !=true)
    {
        <div class="msg">
            <div class="bubble alt">
                <div class="txt">
                    <span class="name alt">
                        @item.SenderDispName
                    </span>
                    <span class="timestamp">@item.Date.TimeOfDay.ToString().Substring(0, 5)</span>
                    <span class="message">
                        @{

                            if (ViewBag.isBusiness)
                            {
                                if (item.Text.Substring(2, 1) == ":")
                                {
                                    <a href="/pages/BulkOrder?business_id=@ViewBag.MyId&personal_id=@ViewBag.RecieverID&time=@item.Text.Substring(0,5)"> @item.Text.Substring(5) </a>
                                }
                                else
                                {
                                    <text>@item.Text</text>
                                }
                            }
                            else
                            {
                                if (item.Text.Substring(2, 1) == ":")
                                {
                                    <a href="/pages/BulkOrder?business_id=@ViewBag.RecieverID&personal_id=@ViewBag.MyId&time=@item.Text.Substring(0,5)"> @item.Text.Substring(5) </a>
                                }
                                else
                                {
                                    <text>@item.Text</text>
                                }
                            }


                        }
                    </span>
                </div>
                <div class="bubble-arrow alt"></div>
            </div>
        </div>

    }
    else if (item.isOrder == true)
    {
        
        if (ViewBag.isBusiness)
        {
            <a href="/pages/BulkOrder?business_id=@ViewBag.MyId&personal_id=@ViewBag.RecieverID&time=@item.Date.TimeOfDay.ToString().Substring(0, 5)">
                <div class="ui segment" style="margin-top:10px">
                    @*<a class="ui orange left ribbon label">Specs</a>
                        <p></p>*@
                    <span class="ui teal left ribbon label"><i class="tag icon"></i> New Order (@item.Date.TimeOfDay.ToString().Substring(0,5))</span>
                    <h3 style="font-weight:400">@item.Text</h3>
                </div>

            </a>

        }
        else
        {
            <a href="/pages/BulkOrder?business_id=@ViewBag.RecieverID&personal_id=@ViewBag.MyId&time=@item.Date.TimeOfDay.ToString().Substring(0, 5)">
                <div class="ui segment" style="margin-top:10px">
                    @*<a class="ui orange left ribbon label">Specs</a>
                        <p></p>*@
                    <span class="ui teal left ribbon label"><i class="tag icon"></i> New Order (@item.Date.TimeOfDay.ToString().Substring(0, 5))</span>
                    <h4 style="font-weight:400">@item.Text</h4>
                </div>

            </a>

        }



        @*using (CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
        {
            CharceApp.Models.Order order = db.orders.ToList().Where(x => x.ID == item.OrderID).FirstOrDefault();
            
                <div class="ui divided items">
                    <div class="item">
                        <div class="image">

                            <img src="/profilepicfile/ProductPic/@order.ProductID">
                        </div>
                        <div class="content">
                            <a href="/pages/vieworder/@order.ID" class="header">@item.SenderDispName placed an order</a>
                            <div class="meta">
                                <span class="cinema">@order.Product | Qty: @order.Qauntity</span>
                            </div>
                            <div class="description">
                                <p>@order.DeliverOrCollect (@order.PaymentMethod)</p>
                            </div>
                            <div class="extra">
                                <div class="ui label"><i class="tag icon"></i> R @order.Total</div>
                                <div class="ui label"><i class="clock icon"></i> @order.Date.Day - @order.Date.Month - @order.Date.Year</div>
                            </div>
                        </div>
                    </div>
                </div>

        }*@




        @*<div class="msg">
            <div class="bubble">
                <div class="txt">
                    <span class="name">@item.SenderDispName</span>
                    <span class="timestamp">10:20 pm</span>
                    <span class="message">
                        @item.Text | Order
                    </span>

                </div>
                <div class="bubble-arrow"></div>
            </div>
        </div>*@

    }
    else
    {
        <div class="msg">
            <div class="bubble">
                <div class="txt">
                    <span class="name">@item.SenderDispName</span>
                    <span class="timestamp">@item.Date.TimeOfDay.ToString().Substring(0, 5)</span>
                    <span class="message">
                        @{

                            if (ViewBag.isBusiness)
                            {
                                if (item.Text.Substring(2, 1) == ":")
                                {
                                    <a href="/pages/BulkOrder?business_id=@ViewBag.MyId&personal_id=@ViewBag.RecieverID&time=@item.Text.Substring(0,5)"> @item.Text.Substring(5) </a>
                                }
                                else
                                {
                                    <text>@item.Text</text>
                                }
                            }
                            else
                            {
                                if (item.Text.Substring(2, 1) == ":")
                                {
                                    <a href="/pages/BulkOrder?business_id=@ViewBag.RecieverID&personal_id=@ViewBag.MyId&time=@item.Text.Substring(0,5)"> @item.Text.Substring(5) </a>
                                }
                                else
                                {
                                    <text>@item.Text</text>
                                }
                            }


                        }
                       
                    </span>

                </div>
                <div class="bubble-arrow"></div>
            </div>
        </div>

    }
}
    </div>


<div id="msgScroll"></div>

<div style="bottom:0;left:10px;position:fixed;width:100%">
    <form action="/logic/sendmessage">
        <div class="ui form">

            <div class="ui label" style="margin-bottom:10px"><i class="envelope icon"></i>Reply</div>
            

            <div class="field">
               
                <textarea rows="1" name="txt"></textarea>
                <button class="ui compact icon button">
                    <i class="right arrow icon"></i>
                </button>
            </div>
        </div>
        <input type="text" value="@ViewBag.RecieverID" name="RecieverID" style="visibility:hidden" />
        <input type="text" value="0" name="orderid" style="visibility:hidden" />

    </form>

</div>

@section Scripts
{
    <script type="text/javascript">
		$(document).ready(function ()
		{
		    $(window).load(function () {
		        $("html, body").animate({ scrollTop: $(document).height() }, 10);
		    });
		});
    </script>
}



