@model IEnumerable<CharceApp.Models.BusinessAccount>

@{
    ViewBag.Title = "MyAccounts";
}

<div class="row">

    <div class="col-lg-4">

    </div>
    <div class="col-lg-4">

        <div style="margin-left:1.3rem;text-align:center">
            <div class="ui card">
                <div class="content">
                    <div class="center aligned header">@ViewBag.AccountName</div>
                    <div class="center aligned description">
                        <p>@ViewBag.AccountType</p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned author">
                        @{
                            if (ViewBag.isPersonalAccount)
                            {
                                <img class="ui avatar image" src="/ProfilePicFile/Index/@ViewBag.AccountID"> @ViewBag.AccountName
                            }
                            else
                            {
                                <img class="ui avatar image" src="/ProfilePicFile/Business_Pic/@ViewBag.AccountID"> @ViewBag.AccountName
                            }
                        }


                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-4">

    </div>

</div>




<div class="ui middle aligned divided list container" style="margin-top:50px">
    
    @foreach (var item in Model)
    {
        <div class="item">
            <div class="right floated content">
                <div class="inline field">
                    <div class="ui toggle checkbox">

                        @{
                            if (ViewBag.AccountID == item.ID)
                            {
                                <input type="checkbox" checked="checked" tabindex="@item.ID" class="hidden the_check @item.ID" name="@item.ID">
                            }
                            else
                            {
                                <input type="checkbox" tabindex="@item.ID" class="hidden the_check @item.ID" name="@item.ID">
                            }
                        }
                        
                        
                        
                        
                        <label></label>
                    </div>
                </div>
                
            </div>
            @*<img class="ui avatar image" src="/ProfilePicFile/Business_Pic/@item.ID">*@

            @{
                using (CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
                {
                    CharceApp.Models.OptimizedBusinessPic dp = db.optimizedbusinesspics.ToList()
                          .Where(x => x.BusinessID == item.ID).FirstOrDefault();
                    @*<img src="/ProfilePicFile/Business_Pic/@ViewBag.ID">*@
                    <img class="ui avatar image" src="@dp.ImageURL">

                }
            }

            <div class="content">
                <a href="/pages/viewaccount?acc_type=Business&id=@item.ID">
                    @item.BusinessName
                </a>
                
            </div>
        </div>

    }
    
    
</div>


<div class="bottom_menu">

    <div class="ui equal width center aligned padded grid">
        <div class="row" style="color:white;font-weight:100 !important;font-size:1.3rem">
           
            <div class="column deals-button">
                <p>
                    <a href="/pages/addaccount" style="text-decoration:none;color:white">Add Account</a>
                </p>
                

            </div>
        </div>


    </div>

</div>

