@model IEnumerable<CharceApp.Models.Conversation>

<div class="chats" style="margin-bottom:100px">

    @{
        if (ViewBag.hasSearch)
        {
            <form action="/home/index">
                <div class="ui fluid icon input" style="margin-bottom:20px">
                    <input type="text" placeholder="Search..." name="search" value="@ViewBag.Search">
                    <i class="search icon"></i>
                </div>
            </form>

        }
        else
        {
            <form action="/home/index">
                <div class="ui fluid icon input" style="margin-bottom:20px">
                    <input type="text" placeholder="Search..." name="search">
                    <i class="search icon"></i>
                </div>
            </form>

        }
    }
    
    

    <h4 style="text-align:center;font-weight:100;color:gray">@ViewBag.AccountName</h4>
    <h6 style="text-align:center;font-weight:100;color:gray">@ViewBag.AccountType Account</h6>


  

    <div class="ui comments">

        @foreach (var item in Model)
        {
            <a href="/pages/message?convoID=@item.ID&pageNo=0">
                @{



                    if (ViewBag.AccountType == "Business")
                    {

                        <div class="comment" style="margin-bottom:20px">
                            <span class="avatar">

                                @{
                                    if (item.FirstPersonDispName == ViewBag.AccountName)
                                    {
                                        using (CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
                                        {
                                            CharceApp.Models.ProfilePic p = db.profilepics.ToList().Where(x => x.UserId == item.SecondPersonID).FirstOrDefault();
                                            <img src="/profilepicfile/index/@p.ID">
                                        }


                                    }
                                    else
                                    {
                                        using (CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
                                        {
                                            CharceApp.Models.ProfilePic p = db.profilepics.ToList().Where(x => x.UserId == item.FirstPersonID).FirstOrDefault();
                                            <img src="/profilepicfile/index/@p.ID">
                                        }

                                    }
                                }


                            </span>
                            <div class="content">
                                @{
                                    if (item.FirstPersonDispName == ViewBag.AccountName)
                                    {
                                        <span class="author">@item.SecondPersonDispName</span>
                                    }
                                    else
                                    {
                                        <span class="author">@item.FirstPersonDispName</span>
                                    }
                                }

                                <div class="metadata">
                                    <div class="date">@item.Date.Day.@item.Date.Month.@item.Date.Year</div>

                                    @{
                                        if (!item.Seen && item.LastSenderID != ViewBag.AccountID)
                                        {
                                            <div class="rating">
                                                <i class=" icon"></i>

                                                <i style="color:lightgreen" class="circle icon"></i>
                                            </div>
                                        }
                                    }
                                    
                                </div>
                                <div class="text">
                                    @item.LastMessage
                                </div>
                            </div>
                        </div>

                                    }
                                    else
                                    {

                                        <div class="comment" style="margin-bottom:20px">
                                            <span class="avatar">

                                                @{
                                                    if (item.FirstPersonDispName == ViewBag.AccountName)
                                                    {

                                                        <img src="/profilepicfile/Business_Pic/@item.SecondPersonID">



                                                    }
                                                    else
                                                    {

                                                        <img src="/profilepicfile/Business_Pic/@item.FirstPersonID">

                                                    }
                                                }


                                                @*<img src="https://i2.wp.com/zblogged.com/wp-content/uploads/2015/11/5.png?w=640&ssl=1">*@
                                            </span>
                                            <div class="content">

                                                @{
                                                    if (item.FirstPersonDispName == ViewBag.AccountName)
                                                    {
                                                        <span class="author">@item.SecondPersonDispName</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="author">@item.FirstPersonDispName</span>
                                                    }
                                                }


                                                <div class="metadata">
                                                    <div class="date">@item.Date.Day.@item.Date.Month.@item.Date.Year</div>
                                                    @{
                                                        if (!item.Seen && item.LastSenderID != ViewBag.AccountID)
                                                        {
                                                            <div class="rating">
                                                                <i class=" icon"></i>

                                                                <i style="color:lightgreen" class="circle icon"></i>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                                <div class="text">
                                                    @item.LastMessage
                                                </div>
                                            </div>
                                        </div>

                                                    }




                }
            </a>
            

            


        }

      
    </div>


</div>



        <div class="bottom_menu">

            <div class="ui equal width center aligned padded grid">

                <div class="row" style="color:white;font-weight:100 !important;font-size:1.3rem">
                    <div class="column">
                        <a href="/home/index" style="color:white">Chat</a>

                    </div>
                    <div class="column">
                        <a href="/pages/shops" style="color:white">My Shops</a>

                    </div>
                    <div class="column deals-button">
                        <a href="/pages/deals" style="color:white">Deals</a>

                    </div>
                </div>


            </div>

        </div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            setInterval(function () {
               reload_page();
            }, 3000);

            function reload_page() {

                $.get('/logic/CheckNewMessage', null, function (data) {
                    if (data.reload) {
                        $.get('/logic/SeenMessage', null, function () {
                            var audio = {};
                            audio["alert"] = new Audio();
                            audio["alert"].src = "/Content/alert.wav"
                            audio["alert"].addEventListener('load', function () {
                                audio["alert"].play();
                            });
                            window.location.reload(true);
                        });
                        //alert("New Message");
                    }
                });  
            }
		});
    </script>
}