@model IEnumerable<CharceApp.Models.Conversation>




@{
    if (!Request.Browser.IsMobileDevice)
    {
        Layout = "";

 <html>
<head>
    <title>Charce</title>
    <link href="~/Content/desktopstyle.css" rel="stylesheet" >
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>

    


    
    <div class="container app">
        <div class="row app-one">
            <div class="col-sm-4 side">
                <div class="side-one">
                    <div class="row heading">
                        <div class="col-sm-3 col-xs-3 heading-avatar">
                            <div class="heading-avatar-icon">
                                @{
                                    if (ViewBag.isPersonalAccount)
                                    {
                                        <a href="/pages/myaccounts">
                                            <img src="/profilepicfile/index/@ViewBag.AccountID">
                                        </a>
                                        
                                    }
                                    else
                                    {
                                        <a href="/pages/myaccounts">
                                            <img src="/profilepicfile/Business_Pic/@ViewBag.AccountID">
                                        </a>
                                        
                                    }
                                }
                                
                            </div>
                            
                        </div>
                        <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
                            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true" ></i>
                        </div>
                        <div class="col-sm-2 col-xs-2 heading-compose  pull-right">

                            @{
                                if (!ViewBag.isPersonalAccount)
                                {
                                    <a href="/pages/ourorders/?page=1">
                                        <i class="fa fa-tags fa-2x  pull-right" aria-hidden="true"></i>
                                    </a>
                                }
                            }
                            
                            
                        </div>
                    </div>


                    <div class="row searchBox">
                        <div class="col-sm-12 searchBox-inner">
                            <div class="form-group has-feedback">
                                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                                
                            </div>
                        </div>
                    </div>
                    <div class="row sideBar">

                        @foreach (var item in Model)
                        {

                            if (ViewBag.AccountType == "Business")
                            {

                                if (ViewBag.AccountID == item.FirstPersonID)
                                {
                                    using (CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
                                    {
                                        CharceApp.Models.ProfilePic p = db.profilepics.ToList().Where(x => x.UserId == item.SecondPersonID).FirstOrDefault();
                                        
                                        <div class="row sideBar-body">
                                            <input type="hidden" value="@item.ID" />
                                            <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                                <div class="avatar-icon">
                                                    <img src="/profilepicfile/index/@p.ID">
                                                </div>
                                            </div>
                                            <div class="col-sm-9 col-xs-9 sideBar-main">
                                                <div class="row">
                                                    <div class="col-sm-8 col-xs-8 sideBar-name">
                                                        <a href="#" class="name-meta">
                                                            @{
                                                                if (item.Seen)
                                                                {
                                                                    @item.SecondPersonDispName
                                                                }
                                                                else
                                                                {
                                                                    <b>@item.SecondPersonDispName</b>
                                                                }
                                                            }
                                                            
                                                        </a>
                                                        <br />
                                                        <span>
                                                            @item.LastMessage
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                                        <span class="time-meta pull-right">
                                                           @item.Date.TimeOfDay.ToString().Substring(0, 5)
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    }

                                }
                                else
                                {
                                    using (CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
                                    {
                                        CharceApp.Models.ProfilePic p = db.profilepics.ToList().Where(x => x.UserId == item.FirstPersonID).FirstOrDefault();
                                        


                                        <div class="row sideBar-body">
                                            <input type="hidden" value="@item.ID" />
                                            <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                                <div class="avatar-icon">
                                                    <img src="/profilepicfile/index/@p.ID">
                                                </div>
                                            </div>
                                            <div class="col-sm-9 col-xs-9 sideBar-main">
                                                <div class="row">
                                                    <div class="col-sm-8 col-xs-8 sideBar-name">
                                                        <a href="#" class="name-meta">

                                                            @{
                                                                if (item.Seen)
                                                                {
                                                                    @item.FirstPersonDispName
                                                                }
                                                                else
                                                                {
                                                                    <b>@item.FirstPersonDispName</b>
                                                                }
                                                            }


                                                            
                                                        </a>
                                                        <br />
                                                        <span>
                                                            @item.LastMessage
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                                        <span class="time-meta pull-right">
                                                            @item.Date.TimeOfDay.ToString().Substring(0, 5)                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }

                            }
                            else
                            {
                                if (ViewBag.AccountID == item.FirstPersonID)
                                {
                       
                                    <div class="row sideBar-body">
                                        <input type="hidden" value="@item.ID" />
                                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                            <div class="avatar-icon">
                                                <img src="/profilepicfile/Business_Pic/@item.SecondPersonID">
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-xs-9 sideBar-main">
                                            <div class="row">
                                                <div class="col-sm-8 col-xs-8 sideBar-name">
                                                    <a href="#" class="name-meta">

                                                        @{
                                                            if (item.Seen)
                                                            {
                                                                @item.SecondPersonDispName
                                                            }
                                                            else
                                                            {
                                                                <b>@item.SecondPersonDispName</b>
                                                            }
                                                        }
  
                                                    </a>
                                                    <br />
                                                    <span>
                                                        @item.LastMessage
                                                    </span>
                                                </div>
                                                <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                                    <span class="time-meta pull-right">
                                                        @item.Date.TimeOfDay.ToString().Substring(0, 5)                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    


                                    <div class="row sideBar-body">
                                        <input type="hidden" value="@item.ID" />
                                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                            <div class="avatar-icon">
                                                <img src="/profilepicfile/Business_Pic/@item.FirstPersonDispName">
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-xs-9 sideBar-main">
                                            <div class="row">
                                                <div class="col-sm-8 col-xs-8 sideBar-name">
                                                    <a href="#" class="name-meta">

                                                        @{
                                                            if (item.Seen)
                                                            {
                                                                @item.FirstPersonDispName
                                                            }
                                                            else
                                                            {
                                                                <b>@item.FirstPersonDispName</b>
                                                            }
                                                        } 
                                                    </a>
                                                    <br />
                                                    <span>
                                                        @item.LastMessage
                                                    </span>
                                                </div>
                                                <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                                    <span class="time-meta pull-right">
                                                        @item.Date.TimeOfDay.ToString().Substring(0, 5)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                }


                            }


                        }


                    </div>
                </div>
               
            </div>
            <div class="col-sm-8 conversation">

                <h3 style="font-weight:100 !important;color:gray;margin-top:40%;margin-left:20%">Select a conversation to start chatting...</h3>

            </div>
        </div>
    </div>





    <script>


        setInterval(function () {
            reload_page();
        }, 3000);

        function reload_page() {

            $.get('/logic/CheckNewMessage', null, function (data) {
                if (data.reload) {
                    $.get('/logic/SeenMessage', null, function () {
                        var audio = {};
                        audio["alert"] = new Audio();
                        audio["alert"].src = "/Content/alert.wav"
                        audio["alert"].addEventListener('load', function () {
                            audio["alert"].play();
                        });
                        window.location.reload(true);
                    });
                    //alert("New Message");
                }
            });
        }


        $('.sideBar-body').click(function () {
           // alert($(this).find('input').val());
            $('.conversation').html(null);
            $.get('/partialviews/_DesktopMessages?convo_id=' + $(this).find('input').val() + '', null, function (d) {

                $(".conversation").html(d);

                //$(".conversation").scrollTop($(".conversation").prop("scrollHeight"));

                $('#conversation').scrollTop($('#conversation')[0].scrollHeight - $('#conversation')[0].clientHeight);

                var convoid = $(this).find('input').val();
                
                $('.reply-send').click(function () {
                    var myID = $('.myID').find('input').val();
                    var recieverID = $('.recieverID').find('input').val();
                    var text = $('#comment').val();
                   // alert("my id: " + myID + " reciever id " + recieverID + " message:" + text);

                    $.post('/logic/desktopsendmessage?RecieverID=' + recieverID + '&txt=' + text + '&orderid=' + 0 + '', null, function (res) {
                        $('#comment').val('');
                        $('#conversation').append('<p class="from-me">' + text + '</p>');
                        $('#conversation').scrollTop($('#conversation')[0].scrollHeight - $('#conversation')[0].clientHeight);

                    });

                });
            });

        });



            $('.contact').click(function () {
                $("#chatprompt").html(null);
                $("#chatprompt").append(
                    '<i class="fa fa-envelope" style="margin-left:100px"></i> Loading messages...'
                );

                $.get('/partialviews/_DesktopMessages?convo_id=' + $(this).find('input').val() + '', null, function (d) {
                    $("#content_view").html(null);
                    $("#content_view").html(d);
                });

              });

    </script>
</body>

</html>






        <!--END OF DESKTOP CHAT SCREEN-->



    }
    else
    {

        <div class="device-xs visible-xs device-sm visible-sm">


            <div class="chats" style="margin-bottom:100px">

                @{
                    if (ViewBag.hasSearch)
                    {
                        <form action="/home/index">
                            <div class="ui fluid icon input" style="margin-bottom:20px;margin-top:20px">
                                <input type="text" placeholder="Search..." name="search" value="@ViewBag.Search">
                                <i class="search icon"></i>
                            </div>
                        </form>

                    }
                    else
                    {
                        <form action="/home/index">
                            <div class="ui fluid icon input" style="margin-bottom:20px;margin-top:20px">
                                <input type="text" placeholder="Search..." name="search">
                                <i class="search icon"></i>
                            </div>
                        </form>

                    }
                }



                <h4 style="text-align:center;font-weight:100;color:gray">@ViewBag.AccountName</h4>
                <h6 style="text-align:center;font-weight:100;color:gray">@ViewBag.AccountType Account</h6>




                <div class="ui comments">

                    @foreach (var item in Model)
                    {
                        <a href="/pages/message?convoID=@item.ID&pageNo=0">
                            @{



                                if (ViewBag.AccountType == "Business")
                                {

                                    <div class="comment" style="margin-bottom:20px">
                                        <span class="avatar">

                                            @{
                                                if (item.FirstPersonDispName == ViewBag.AccountName)
                                                {
                                                    using (CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
                                                    {
                                                        CharceApp.Models.ProfilePic p = db.profilepics.ToList().Where(x => x.UserId == item.SecondPersonID).FirstOrDefault();
                                                        <img src="/profilepicfile/index/@p.ID">
                                                    }


                                                }
                                                else
                                                {
                                                    using (CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
                                                    {
                                                        CharceApp.Models.ProfilePic p = db.profilepics.ToList().Where(x => x.UserId == item.FirstPersonID).FirstOrDefault();
                                                        <img src="/profilepicfile/index/@p.ID">
                                                    }

                                                }
                                            }


                                        </span>
                                        <div class="content">
                                            @{
                                                if (item.FirstPersonDispName == ViewBag.AccountName)
                                                {
                                                    <span class="author">@item.SecondPersonDispName</span>
                                                }
                                                else
                                                {
                                                    <span class="author">@item.FirstPersonDispName</span>
                                                }
                                            }

                                            <div class="metadata">
                                                <div class="date">@item.Date.Day.@item.Date.Month.@item.Date.Year</div>

                                                @{
                                                    if (!item.Seen && item.LastSenderID != ViewBag.AccountID)
                                                    {
                                                        <div class="rating">
                                                            <i class=" icon"></i>

                                                            <i style="color:lightgreen" class="circle icon"></i>
                                                        </div>
                                                    }
                                                }

                                            </div>
                                            <div class="text">
                                                @item.LastMessage
                                            </div>
                                        </div>
                                    </div>

                                                    }
                                                    else
                                                    {

                                                        <div class="comment" style="margin-bottom:20px">
                                                            <span class="avatar">

                                                                @{
                                                                    if (item.FirstPersonDispName == ViewBag.AccountName)
                                                                    {

                                                                        <img src="/profilepicfile/Business_Pic/@item.SecondPersonID">



                                                                    }
                                                                    else
                                                                    {

                                                                        <img src="/profilepicfile/Business_Pic/@item.FirstPersonID">

                                                                    }
                                                                }


                                                                @*<img src="https://i2.wp.com/zblogged.com/wp-content/uploads/2015/11/5.png?w=640&ssl=1">*@
                                                            </span>
                                                            <div class="content">

                                                                @{
                                                                    if (item.FirstPersonDispName == ViewBag.AccountName)
                                                                    {
                                                                        <span class="author">@item.SecondPersonDispName</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="author">@item.FirstPersonDispName</span>
                                                                    }
                                                                }


                                                                <div class="metadata">
                                                                    <div class="date">@item.Date.Day.@item.Date.Month.@item.Date.Year</div>
                                                                    @{
                                                                        if (!item.Seen && item.LastSenderID != ViewBag.AccountID)
                                                                        {
                                                                            <div class="rating">
                                                                                <i class=" icon"></i>

                                                                                <i style="color:lightgreen" class="circle icon"></i>
                                                                            </div>
                                                                        }
                                                                    }
                                                                </div>
                                                                <div class="text">
                                                                    @item.LastMessage
                                                                </div>
                                                            </div>
                                                        </div>

                                                                        }




                            }
                        </a>





                                                                        }


                </div>


            </div>



            <div class="bottom_menu">

                <div class="ui equal width center aligned padded grid">

                    <div class="row" style="color:white;font-weight:100 !important;font-size:1.3rem">
                        <div class="column">
                            <a href="/home/index" style="color:white"><span class="glyphicon glyphicon-comment"></span></a>

                        </div>
                        <div class="column" style="opacity:0.5">
                            <a href="/pages/shops" style="color:white"><span class="glyphicon glyphicon-shopping-cart"></span></a>

                        </div>
                        <div class="column deals-button" style="opacity:0.5">
                            <a href="/pages/deals" style="color:white"><span class="glyphicon glyphicon-tags"></span></a>

                        </div>
                    </div>


                </div>

            </div>





        </div>


                                                                        }
}




@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            setInterval(function () {
               reload_page();
            }, 3000);

            function reload_page() {

                $.get('/logic/CheckNewMessage', null, function (data) {
                    if (data.reload) {
                        $.get('/logic/SeenMessage', null, function () {
                            var audio = {};
                            audio["alert"] = new Audio();
                            audio["alert"].src = "/Content/alert.wav"
                            audio["alert"].addEventListener('load', function () {
                                audio["alert"].play();
                            });
                            window.location.reload(true);
                        });
                        //alert("New Message");
                    }
                });  
            }


		});
    </script>
}