@model IEnumerable<CharceApp.Models.ProfilePic_Product>
@{
    ViewBag.Title = "Company Products";
}


@{

    foreach (var item in Model)
    {
        string comName;
        string imgurl;
        string businessurl;
        List<int> prods = new List<int>();
        using (CharceApp.Models.ApplicationDbContext db = new CharceApp.Models.ApplicationDbContext())
        {
            CharceApp.Models.BusinessAccount ba = db.businessaccounts.ToList().Where(x => x.ID == item.BusinessId).FirstOrDefault();
            comName = ba.BusinessName;

            CharceApp.Models.OptimaziedProductPic optpic = db.optimazedProductPics.ToList().Where(x => x.ProductID == item.ID).FirstOrDefault();
            imgurl = optpic.ImageURL;

            CharceApp.Models.OptimizedBusinessPic dp = db.optimizedbusinesspics.ToList()
                .Where(x => x.BusinessID == item.BusinessId).FirstOrDefault();
            businessurl = dp.ImageURL;

            List<CharceApp.Models.Cart> myCart = db.carts.ToList().Where(x => x.PersonalAccountID == ViewBag.MyID).ToList();


            foreach (CharceApp.Models.Cart c in myCart)
            {
                prods.Add(c.ProfilePicProductID);
            }
        }
        <div class="ui card" style="margin-left:1.3rem">
            <div class="content">
                <div class="right floated meta">

                    <a href="/pages/makedealpage?prod_id=@item.ID" class=" ui compact labeled icon button">
                        <i class="cart icon"></i>
                        Make Deal
                    </a>
                </div>


                <img src="@businessurl" alt="Avatar" class="ui avatar image" /> <a href="#">@comName</a>

                @*<img src="/ProfilePicFile/Business_Pic/@item.BusinessId" alt="Avatar" class="ui avatar image" /> <a href="#">@comName</a>*@
            </div>
            <div class="image">
                @*<img src="/ProfilePicFile/ProductPic/@item.ID" alt="Avatar" class="" />*@
                <img src="@imgurl" alt="Avatar" class="" />
            </div>
            <div class="content">
                <h3 style="font-weight:100">@item.Name</h3>
                <h4 style="font-weight:100">@item.Description</h4>
            </div>
            <div class="content">
                <span class="right floated">
                    <i class="th icon"></i>
                    <a href="#">@item.Item_Type</a>
                </span>

                <div class="ui labeled button" tabindex="0">
                    <div class="ui gray button">
                        <i class="tag icon"></i>
                    </div>
                    <a class="ui basic gray left pointing label" style="font-weight:100">
                        R @item.Price
                    </a>
                </div>

            </div>
            <div class="extra content">
                <h6>Tax @item.Tax</h6>
                @*<div class="ui large transparent left icon input">
                        <i class="heart outline icon"></i>
                        <input type="text" placeholder="Add Comment...">
                    </div>*@
            </div>
        </div>



      }

}



@*<div class="bottom_menu">

    <div class="ui equal width center aligned padded grid">
        <div class="row" style="color:white;font-weight:100 !important;font-size:1.3rem">

            <div class="column deals-button">
                <p>
                    <a href="/pages/checkoutview/" style="text-decoration:none;color:white">Checkout(@ViewBag.Items)</a>
                </p>


            </div>
        </div>


    </div>

</div>*@



